{% extends 'layouts/base.html' %}
{% block title %}
    Crear Categoría
{% endblock %}
{% block content %}
<div class="row m-5">
    <div class="col-3"></div>
    <div class="col-6">    
        <form action="{{url_for('create_product')}}" method="POST">
            <div class="mb-3">
                <label class="form-label" for="name">Nombre</label>
                <input  class="form-control" type="text" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Precio</label>
                <input  class="form-control" type="text" id="price" name="price" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="categorie">Categoría</label>
                <select class="form-control"  name="categorie" required>
                    <option value="" selected>Disponibles</option>
                    {% for categorie in categories %}
                    <option value={{categorie[2]}} >{{categorie[2]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <a class="btn btn-dark" href="{{url_for('categorie')}}">Volver</a>
                <button class="btn btn-success" type="submit">Guardar Producto</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}