{% extends 'layouts/base.html'%}
{% block title %}
    Editar Categoría
{% endblock %}
{% block content %}
    <div class="row m-5" style="font-weight: 500; font-size: large;">
        <div class="col-3"></div>
        <div class="col-6">
            <form method="POST">
                <div class="mb-3">
                    <label class="form-label" for="name">Nombre</label>
                    <input class="form-control" type="text" id="name" name="name" value="{{categoria[2]}}" required>
                </div>
                <div class="mb-3">
                    <a class="btn btn-dark" href="{{url_for('categorie')}}">Volver</a>
                    <button class="btn btn-success" type="submit">Editar</button>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}