{% extends 'layouts/base.html'%}
{% block title %}
    Perfil Usuario
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <form action="{{url_for('user')}}" method="POST">
                <div class="m-5" style="font-weight: 500; font-size:large;">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{users[1]}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{users[2]}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="text" class="form-control" id="password" name="password" value="{{users[3]}}" required>
                    </div>
                    <div class="mb-3">    
                        <button class="btn btn-success" type="submit">Actualizar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}